.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header-flex-container {
  display: flex;
  background-color: #282c34;
  width: 100%;
  flex-direction: row;
  align-content: center;
}

.home-button {
  margin-left: 0.5em;
  color: white;
}

.middle-section {
  flex: 1;
}

.right-section {
  align-self: center;
  margin-right: 0.5em;
}

.button-margin {
  margin: 0 0.2em;
}

.vertical-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.vertical-center-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-right-contents {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.list-recipe {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.list-recipe-rating {
}

.list-recipe-clickable {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  margin: 1px;
  color: black;
}
.list-recipe-clickable:hover {
  margin: 0px;
  border: #282c34 solid 1px;
  text-decoration: none;
}
.list-recipe-image {
  border: #282c34 solid 2px;
  border-radius: 10px;
}
.list-recipe-text {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.list-recipe-name {
  font-weight: bolder;
  font-size: large;
}
.list-recipe-description {
}

.tmp-rating-img {
  width: 32px;
  height: 32px;
}

.search-bar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-list {
  margin-top: 8px;
}

.page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-recipe {
  border-collapse: separate;
  border-spacing: 16px;
}

.bottom-curly {
  width: 15px;
  border-bottom: 2px solid;
}

.middle-curly {
  width: 15px;
  border-right: 2px solid;
}

.top-curly {
  width: 15px;
  border-top: 2px solid;
}

.curly {
  width: 15px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.description-box {
  width: 100%;
}

textarea {
  resize: vertical;
  height: 90%;
  /*min-height: 90%;*/
}

.plus-button {
  display: none;
  float: left;
  position: absolute;
}
.hover-line:hover .plus-button,
.plus-button:hover {
  display: inline-block;
}

.hover-line:hover {
  background-color: black;
}

.hover-line {
  background-color: lightgray;
  height: 6px;
  text-align: right;
  margin: 1px;
}

.step-table {
  border-spacing: 0px;
  justify-content: right;
  text-align: right;
}

.plus-button2 {
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
}

table,
td,
tr,
tbody {
  height: 100%;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.wizard {
  border: 2px solid teal;
  border-radius: 10px;
  padding: 4px;
  margin: 8px;
  height: 250px;
  /*display: flex;
  flex-direction: column;*/
}

.wizard-button-container {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}

.card-contents {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
}
.list-contents {
  height: 180px;
}

.ingredient {
  height: 20px;
}

.placeholder-box {
  width: 95%;
  height: 500px;
  border: 3px solid black;
  margin: 8px;
}
